<script
	defer
	src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "
></script>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/static/js/chat.js"></script>

<h2>Chat</h2>

<div>
	<input type="text" id="chatBox" />
</div>
<div>
	<ul id="messageLogs"></ul>
</div>