<!-- MAIN -->
<div class="col--main">
	<h1 class="display-1">
		<div class="display-1 display-1--intro">
			Portas Esquivel & Asociados
		</div>
	</h1>
	<div class="display-1 display-1--subtitle">
		Odontología de Excelencia
	</div>
	<div class="display-1">
		<img
			class="image image__main display-1"
			src="/static/assets/images/main_tipos_servicios.webp"
			alt="Tipos de servicios ofrecidos"
		/>
	</div>
	<div class="display-1 display-1--description">
		Brindamos soluciones integrales en estética dental, blanqueamiento,
		endodoncia, odontología general, ortodoncia y prótesis.
	</div>
	<div class="display-1 display-1--description">
		Nuestra principal misión es la prevención de las enfermedades orales, y
		darles un tratamiento duradero y conservador.
	</div>
	<div class="display-1 display-1--description">
		En
		<strong>Portas Esquivel & Asociados</strong>
		disponemos de todos los medios técnicos y humanos para corregir problemas de
		asimetría, separación de dientes, realizamos todos los tratamientos de
		estética dental más habituales.
	</div>
	<div class="display-1 display-1--description">
		En nuestra clínica desarrollamos todos los tratamientos necesarios para
		conservar la propia pieza dental, siempre que sea posible.
	</div>
	<div class="display-1 display-1--description">
		En nuestra clínica queremos dar la mejor solución a cada caso que se
		presenta para poder disfrutar de una masticación adecuada. Para ello
		contamos con un equipo especializado que aseguran una correcta fijación y
		poder devolver la función masticatoria.
	</div>
</div>