<script defer src="/static/js/login.js"></script>

<div>
	<h1 class="display-1">
		<div class="display-1--intro">Menú de login</div>
	</h1>
	<form id="loginForm" method="POST" action="/api/sessions/login">
		<label>E-mail</label>
		<input name="username" placeholder="xxxx@yyyy.com" />
		<br />
		<label>Password</label>
		<input type="password" name="password" />
		<input type="submit" />
	</form>
	<h2 class="display-1--description">¿No tiene una cuenta aún?
		<a href="/register"><strong>Regístrese</strong></a></h2>
	<div class="display-1--subtitle"><a href="api/sessions/github">
			Ingresar con GitHub
		</a>
	</div>
</div>