<div class="col--main">
	<div class="cartCardDetail">
		<div class="cartCardDetail__image">
			<img
				class="image"
				style="height: 350px;"
				src="/static/assets/images/cartCard--error.webp"
				alt="Imagen del producto"
			/>
		</div>
		<div class="cartCardDetail-content">
			<p class="cartCard-content__title">Página inexistente</p>
			<p class="cartCard-content__body">La página buscada no existe.</p>
		</div>
	</div>
</div>