<div>
	<h1 class="display-1">
		<div class="display-1--intro">Menú de olvido de contraseña</div>
	</h1>
	<form id="forgotPasswordForm" method="POST" action="/api/passwords/forgotPassword">
		<label for="email">Email</label>
        <input type="email" name="email" id="email">
		<input type="submit" />
	</form>
</div>