<script defer src="/static/js/passwordReset.js"></script>

<div>
	<form id="resetPasswordForm" onsubmit="return false">
		<label>Nuevo password</label>
		<input type="password" name="newPassword" />
		<label>Repita nuevo password</label>
		<input type="password" name="repeatNewPassword" />
		<input type="submit" value="Send" />
	</form>
</div>