<h1 class="display-1">
		<div class="display-1--intro">Menú de registro</div>
	</h1>
<form action="/api/sessions/register" method="POST">
	<label>Nombre de usuario</label>
	<input type="text" name="username" /><br />
	<label>Nombre</label>
	<input type="text" name="first_name" /><br />
	<label>Apellido</label>
	<input type="text" name="last_name" /><br />
	<label>Email</label>
	<input type="text" name="email" /><br />
	<label>Password</label>
	<input type="text" name="password" /><br />
	<label>Confirme su Password</label>
	<input type="text" name="confirm_password" /><br />
	<input type="submit" />
</form>